
    <footer >
        <section class="sec0">
            <div class="sec"> 
                <p>Section</p> 
                <p>Section</p>
                <p>Section</p>
                <p>Section</p>
                <p>Section</p>
            </div>
            <div class="sec"> 
                <p>Section</p> 
                <p>Section</p>
                <p>Section</p>
                <p>Section</p>
                <p>Section</p>
                <p>Section</p>
            </div>
        </section>
        <div class="links">
            <a href="#">Address preview address text</a>
            <a href="tel:8080000000">Phone preview 0000000000</a>
            <a href="mailto:link@mail.me">Email preview email link@mail.me</a>
           
        </div>
        <div class="social-links">
            <a href="#"><img src="../img/facebook button.png" alt=""></a>
            <a href="#"><img src="../img/instabutton.png" alt=""></a>
            <a href="#"><img src="../img/Shape.png" alt=""></a>
        </div>
    </footer>
    <script src="js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 <script type="text/javascript">
      $(document).ready(function(){
	     $('.slider').slick({
           infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            //variableWidth: true,
            prevArrow : $(".left_arrow"),
            nextArrow : $(".right_arrow"),
        });
     
        
    });
</script>
    <!-- <script type="text/javascript">
    $('.slider-for').slick({
  dots: false,
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-nav'
});
$('.slider-nav').slick({
    dots: false,
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-for',
  dots: true,
  centerMode: true,
  focusOnSelect: true,
  prevArrow : $(".left_arrow"),
  nextArrow : $(".right_arrow")
});
	

 
    
 </script> -->
    
</body>
</html>
