<footer>
    <div class="D1"><span>Section</span><span>Section</span><span>Section</span><span>Section</span><span>Section</span>

    </div>
    <div class="D2"> <span>Section</span>
<span>Section</span>
<span>Section</span>
<span>Section</span>
<span>Section</span>
<span>Section</span>

    </div>
    <div class="D3">
       <a href=""> <p>Address preview address text</p></a>
       <a href=""><p>Phone preview 0000000000</p></a>
       <a href=""><p>Email preview email link@mail.me</p></a>
    </div>
    <div class="D4">
        <img src="../img/facebook button.png" alt=""><span></span>

        <img src="../img/Shape.png" alt="">
    </div>
</footer>
<script src="js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
	     $('.slider2').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow : $(".left_arrow"),
            nextArrow : $(".next1"),
            responsive:[
                {
                breakpoint : 576,
                slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow : $(".left_arrow"),
            nextArrow : $(".next1"),

                }

            ]
        });
       
     
        
    });
</script>


</body>
</html>
