<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />  
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="icon" href="./img/icon.png" /> -->
    <title>Shop</title>
  </head>
<body>
    <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">
          
        </table>
        <div>Total price: $<span class="total-cart"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Order now</button>
      </div>
    </div>
  </div>
</div> 
    <header>
        <div class="preheader">
            <p> Preview text discount sale 50%</p>
        </div>
        <div class="nenheader1">
            <div><img src="../img/account rounded.png" alt=""></div>
            <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart"><img src="../img/cart button.png" alt=""> (<span class="total-count"></span>)</button>
            <button class="clear-cart btn btn-danger">Clear Cart</button>
          </div>
        </div>
        <div class="nenheader2">
            <div><img src="../img/logo.png" alt=""></div>
            <div class="cntr">
              <div class="cntr-innr">
                <label class="search" for="inpt_search">
                  <img src="../img/Group.png" alt="">
                  <input id="inpt_search" type="text" />
                </label>
              </div>
            </div>
        </div>
    </header>

    <main>
        <div class="sub">
          <p>SUBCATEGORY</p>
          <p>SUBCATEGORY</p>
          <p>SUBCATEGORY</p>
          <p>SUBCATEGORY</p>
          <p>SUBCATEGORY</p>
          <p>SUBCATEGORY</p>
          <p>SUBCATEGORY</p>
        </div>